{% load static %}
{% block common_js %}

  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="{% static 'vendors/popper/popper.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
  <script src="{% static 'vendors/is/is.min.js' %}"></script>
  <script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
  <script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
  <script src="{% static '../../../polyfill.io/v3/polyfill.min58be.js?features=window.scroll' %}"></script>
  <script src="{% static 'vendors/list.js/list.min.js' %}"></script>
  <script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
  <script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
  <script src="{% static 'assets/js/phoenix.js' %}"></script>
  <script src="{% static 'vendors/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'vendors/chart/chart.min.js' %}"></script>
  <script src="{% static '../../../unpkg.com/%40googlemaps/markerclusterer%402.0.14/dist/index.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARdVcREeBK44lIWnv5-iPijKqvlSAVwbw&amp;callback=revenueMapInit" async></script>
  <script src="{% static 'assets/js/ecommerce-dashboard.js' %}"></script>
{% endblock %}